# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#you can write here, everything 
#you can edit it, and choose the code you want to use. in this case c++
